POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=
DJANGO_DEFAULT_TO_EMAIL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_ADMIN_URL=http://localhost:8000/admin
DJANGO_API_URL=http://localhost:8000/api